/*--------------------------------------------------------------
# CSS RESET
--------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border-radius: 0.4rem;
  /* border: 1px solid red; */
  /* redline to show spaciing delete in production */
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  END CSS RESET */

/* Defining global font size */

html {
  font-size: 62.5%; /* 10px = 1 rem*/
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

/* ACCESIBILITY END */

/*  DEFINE FONT */

:root {
  /*--------------------------------------------------------------
# Colors Pallette
--------------------------------------------------------------*/

  --black: black;
  --white: white;
  --whitesmoke: whitesmoke;
  --box-one: teal;
  --box-two: gold;
  --box-three: cadetblue;
  --box-four: coral;
  --box-five: crimson;
  --box-six: forestgreen;
  --box-seven: darkorchid;
  --box-eight: hotpink;
  --box-nine: indigo;
  --box-ten: dodgerblue;
  --p-font: #343434;
  --red-one: #bf0a30;
  --blue-one: #002868;

  /*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

  --font-one: "Cormorant Garamond", serif;
  --font-two: "Oxygen", sans-serif;
  /* NEVER HAVE MORE THAN 2 FONTS */

  /*--------------------------------------------------------------
# Font Size
--------------------------------------------------------------*/

  --menu-font-size: 1.9rem;
  --p-font-size: 1.5rem;
  --hone-font-size: 2.5rem;
  --htwo-font-size: 2.2rem;
  --hthree-font-size: 2rem;
}

/*--------------------------------------------------------------
# Animations
--------------------------------------------------------------*/
@keyframes slidedown {
  from {
    display: flex;
    top: -350%;
    transition: all 0.5s;
    z-index: 0;
  }
  to {
    top: 50%;
    z-index: 100;
  }
}
@keyframes submenu {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}

/*--------------------------------------------------------------
# General Styles
--------------------------------------------------------------*/

html,
body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

p {
  line-height: 1.4;
  font-size: 1.6rem;
  color: var(--p-font);
  font-family: var(--font-one);
}

button {
  border-radius: 0.4rem;
  font-family: var(--font-two);
}

* {
  font-family: var(--font-two);
  outline: 0;
}

/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
/* Sub Nav */

a {
  text-decoration: none;
  font-size: var(--p-font-size);
  font-family: var(--font-two);
  color: inherit;
}

nav {
  line-height: 1;
}

ul {
  color: black;
  background: white;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

li {
  color: black;
  background-color: white;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

.children a {
  color: var(--black);
}
.children li:hover {
  /* child items when hovered*/
  color: var(--white);
  background-color: var(--blue-one);
  transition: all 0.5s;
}

.children li:hover a {
  /* child links when hovered*/
  color: var(--white);
  transition: all 0.3s;
}

ul.children {
  display: none !important  ;
}
.page_item:hover ul.children,
li.page_item a:focus ul.children,
.page_item:active ul.children,
.page_item:target ul.children,
.page_item:checked ul.children {
  transition: ease-in;
  display: flex !important;
  flex-flow: column;
  visibility: visible !important;
  opacity: 1 !important;
  position: absolute;
}
li:hover {
  background: var(--blue-one);
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  transition: all 0.5s;
}

.menu-toggle {
  background: blue;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  visibility: visible;
  opacity: 1;
  display: block;
  color: white;
}
.menu ul li ul li:hover {
  color: white;
  background-color: var(--red-one);
}

ul li ul {
  color: black;
  background-color: white;

  min-width: 5rem;
  position: relative;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none !;
}

ul li ul li {
  clear: both;
  width: 100%;
}
/* Header */

.custom-logo {
  width: 100%;
  height: auto;
  max-width: 25rem;
}

.site-branding {
  justify-content: space-around;
  align-items: center;
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  padding: 2rem 0;
}

.custom-logo-link img {
  max-width: 35rem;
}
.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
  color: black;
}
.nav-burger .line {
  background-color: black;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.desktop-mobile {
  height: auto;
}

#menu-main-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  height: auto;
  padding: 13rem 4rem !important;
  width: 100%;
}

#menu-main-menu li {
  width: 100%;
}

.mobile-menu-icon {
  display: block;
  margin-right: 5%;
}

.hamburger-menu {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  transition: all 0.5s;
  z-index: 1000 !important;
}

.hamburger-menu .line {
  background-color: #000;
  height: 3px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.desktop-mobile.open ul {
  transform: translateX(0);
}

.spin.hamburger-menu {
  transform: rotate(180deg);
}

.spin.hamburger-menu .line:nth-of-type(1) {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg) translate(0.6rem, 0.1rem);
}

.spin.hamburger-menu .line:nth-of-type(2) {
  display: none;
}

.spin.hamburger-menu .line:nth-of-type(3) {
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg) translate(0.6rem, -0.1rem);
}

header {
  display: flex;
  flex-flow: row;
  grid-gap: 6rem;
  height: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  border-bottom: 1px solid #80808054;
  position: fixed;
  z-index: 99;
  background-color: white;
}

.custom-logo-link img {
  width: 100%;
  height: auto;
  max-width: 46rem;
}

/*--------------------------------------------------------------
# Content Container
--------------------------------------------------------------*/
#content {
  margin-top: 17rem;
}

/*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/

.slider {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  gap: 10rem;
  padding: 10rem;
}
.hero-slider-text-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 50rem;
  gap: 2rem;
}

.hero-slider-text-container p {
  font-size: 4rem;
}
.hero-slider-text-container h1 {
  font-size: 7rem;
}
.hero-slider-text-container p {
  font-size: 4rem;
}

.hero-button-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: auto;
  gap: 3rem;
}

.hero-button-container button {
  width: 23rem;
  height: 7rem;
  background-color: white;
  border: 1px solid black;
}
.hero-button-container .first-button {
  background-color: var(--blue-one);
  color: white;
}
.hero-button-container .first-button:hover {
  color: white;
  background-color: var(--red-one);
}

.hero-button-container .second-button:hover {
  color: white;
  background-color: var(--red-one);
}

/*--------------------------------------------------------------
# Section One
--------------------------------------------------------------*/
#section-one {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  min-height: 20rem;
}

#section-one a {
  color: blue;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/

.red-underline {
  border-bottom: 1rem var(--red-one) solid;
}

.close {
  display: none;
}

.open {
  display: auto;
}

/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

/* Ipad to Mobile */
@media screen and (max-width: 1250px) {
  ul li ul {
    display: flex;
    display: relative !important  ;
  }

  .menu ul {
    flex-flow: column nowrap;
  }
  ul.menu {
    flex-flow: column nowrap;
  }

  /* SUBNAV */

  .children li {
    background-color: var(--blue-one);
    display: block;
    margin-left: 5rem;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  .children a {
    color: var(--white);
  }

  .menu ul {
    display: flex;
    flex-flow: column nowrap;
  }
  .children {
    z-index: 1000;
  }

  .page_item:focus ul.children,
  .page_item:hover ul.children,
  .page_item:active ul.children,
  .page_item a:focus ul.children,
  .page_item a:hover ul.children,
  .page_item a:active ul.children,
  .page_item a:target ul.children {
    position: initial;
    flex-flow: column;
    align-items: center;
    display: flex;
    background-color: var(--red-one);
  }

  .submenu {
    animation: submenu 0.1s linear;
  }
  /* end subnav */

  .desktop-mobile {
    position: absolute;
    animation: slidedown 0.75s;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 50%;
    width: 100%;
    height: 900px;
    padding: 10rem 0;
    left: 0%;
    background-color: white;
    z-index: 100;
  }
  .site-branding {
    z-index: 10000;
    background-color: white;
  }
  .open {
    display: none;
  }
  /* Header */

  #masthead {
    box-shadow: 0px 0.05rem 0 0 lightgray;
  }

  .header-address-widget {
    display: none;
  }
  .header-button-widget {
    display: none;
  }
  .header-phone-widget {
    display: none;
  }

  .custom-logo-link img {
    max-width: 35rem;
  }
  .nav-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 10rem;
    color: black;
  }
  .nav-burger .line {
    background-color: black;
    height: 1.5px;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .desktop-mobile {
    width: 100%;
    height: auto;
  }

  #menu-main-menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
    height: auto;
    padding: 13rem 4rem !important;
    width: 100%;
  }

  #menu-main-menu li {
    width: 100%;
  }

  .mobile-menu-icon {
    display: block;
    margin-right: 5%;
  }

  .hamburger-menu {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    transition: all 0.5s;
    z-index: 1000 !important;
  }

  .hamburger-menu .line {
    background-color: #000;
    height: 1.5px;
    width: 100%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .desktop-mobile.open ul {
    transform: translateX(0);
  }

  .spin.hamburger-menu {
    transform: rotate(180deg);
  }

  .spin.hamburger-menu .line:nth-of-type(1) {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg) translate(0.6rem, 0.1rem);
  }

  .spin.hamburger-menu .line:nth-of-type(2) {
    display: none;
  }

  .spin.hamburger-menu .line:nth-of-type(3) {
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg) translate(0.6rem, -0.1rem);
  }

  /*--------------------------------------------------------------
# Slider
--------------------------------------------------------------*/
  .slider {
    padding: 4rem 2rem;
  }
}

@media screen and (max-width: 550px) {
  #content {
    margin-top: 15.5rem;
  }
  .custom-logo-link img {
    max-width: 20rem;
  }

  .children li {
    margin-left: 0;
  }
  .hero-button-container {
    justify-content: center;
  }

  .hero-button-container button {
    width: 100%;
  }
}
